.feedback-form {
	max-width: 600px;
	padding-left: 1.5rem;
}
  
.feedback-form .form-group {
	margin-bottom: 15px;
}
  
.feedback-form .mood-group {
	margin-bottom: 15px;
}
.pad-class {
	padding-left: 1.5rem;
}