<h2 class="pad-class">Customer Feedback Comments</h2>
<div *ngIf="feedbackForm.dirty && feedbackForm.invalid" class="pad-class">Enter valid values</div>
<form
  (ngSubmit)="!feedbackForm.invalid && submitFeedback()"
  #feedbackForm="ngForm"
  class="feedback-form"
>
  <div class="form-group">
    <textarea
      id="msg"
      name="msg"
      rows="10"
      cols="72"
      [(ngModel)]="feedback.message"
      placeholder="Great service! Would recommend again."
    ></textarea>
  </div>

  <br />
  <div class="mood-group">
    <fieldset class="mood-fieldset">
      <label>Satisfaction Rating:</label> <br/><br />

      <input
        class="form-check-input"
        type="radio"
        name="mood"
        value="Very unhappy"
        [(ngModel)]="feedback.rating"
        required
      />
      <label class="form-check-label" for="happy">Very unhappy</label>
      <br />

      <input
        class="form-check-input"
        type="radio"
        name="mood"
        value="Moderately unhappy"
        [(ngModel)]="feedback.rating"
      />
      <label class="form-check-label" for="veryHappy">Moderately unhappy</label>
      <br />

      <input
        class="form-check-input"
        type="radio"
        name="mood"
        value="Neutral"
        [(ngModel)]="feedback.rating"
      />
      <label class="form-check-label" for="veryHappy">Neutral</label>
      <br />
      
      <input
        class="form-check-input"
        type="radio"
        name="mood"
        value="Moderately Happy"
        [(ngModel)]="feedback.rating"
      />
      <label class="form-check-label" for="veryHappy">Moderately Happy</label>
      <br />
      
      <input
        class="form-check-input"
        type="radio"
        name="mood"
        value="Very Happy"
        [(ngModel)]="feedback.rating"
      />
      <label class="form-check-label" for="veryHappy">Very Happy</label>
      <br />
    </fieldset>
  </div>
  <div class="form-group">
    <label for="Email Address">Customer Email Address </label>
    <br>
    <textarea
      name="email"
      rows="1"
      cols="72"
      [(ngModel)]="feedback.email"
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
      required
    ></textarea>
  </div>

  <br />
  <button type="submit" class="btn btn-success">Save</button>
</form>